{% extends 'base.html' %}

{% block title %}
<div class="container">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Статья</h1>
            <p class="fs-5 text-body-secondary">Вы находитесь в разделе, предназначенном для размещения статей о
                товарах</p>
        </div>
    </header>
</div>
{% endblock title %}
{% load catalog_tags %}
{% block content %}
<main class="row overflow-auto">
    <div class="row">
        <div class="card-group">
            <div class="card rounded-3 shadow-sm m-1 col">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ object.title }}</h4>
                </div>
                <div class="card-body">
                    {% if object.image %}
                    <img class="card-img-left img-thumbnail" src="{{ object.image|add_media }}">
                    {% endif %}
                    <p>
                        {{ object.content }}
                    </p>
                    <p class="text-secondary"><small>
                        Просмотров {{ object.views_counter }}
                    </small></p>

                </div>
                <div class="card-footer">
                    <a type="button" href="{% url 'blog:blog_update' object.slug %}"
                       class="m-1 w-100 btn btn-lg btn-primary">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}