{% extends 'base.html' %}

{% block title %}
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Контакты</h1>
        <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
    </div>
</header>
{% endblock title%}

{% block content %}
<div class="row text-start">
    <div class="col-lg-9 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td class="w-25">Страна</td>
                        <td>{{data.country}}</td>
                    </tr>
                    <tr>
                        <td class="w-25">ИНН</td>
                        <td>{{data.inn}}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Адрес</td>
                        <td>{{data.address}}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Телефон</td>
                        <td>{{data.phone}}</td>
                    </tr>
                    <tr>
                        <td class="w-25">Эл.почта</td>
                        <td>{{data.email}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Свяжитесь с нами</h4>
            </div>
            <div class="card-body">
                <form method="post" action="" class="form-floating">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name">Имя</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone">Телефон</label>
                        <input type="text" name="phone" class="form-control" id="phone"
                               placeholder="Контактный телефон" required>
                    </div>
                    <div class="mb-3">
                        <label for="message">Сообщение</label>
                        <textarea type="text" name="message" class="form-control" id="message"
                                  placeholder="Текст сообщения" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-lg btn-block btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
