{% extends 'base.html' %}
{% block title %}
<header>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
        <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
    </div>
</header>
{% endblock title %}
{% block content %}
<main class="row overflow-auto">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for object in objects_list %}
        <div class="card rounded-3 shadow-sm">
            <div class="card-header w-100">
                <h4 class="my-0 fw-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.price }}</h2>
                <p>
                    {{ object.description }}
                </p>
            </div>
            <div class="card-footer">
                <a type="button" href="{% url 'product' object.pk %}"
                   class="m-1 w-100 btn btn-lg btn-success">Подробнее</a>
                <button type="button" class="m-1 w-100 btn btn-lg btn-success">Купить</button>
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock content %}



