{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container row h-100 justify-content-center">
        <div class="card rounded-3 shadow-sm m-1 text-center w-25 center-card">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Success</h4>
            </div>

            <div class="card-body">
                <p> Thank's for feedback </p>
            </div>
            <div class="card-footer">
                <a href="/contacts/" class="w-100 btn btn-primary btn-lg active" role="button"
                   aria-pressed="true">OK</a>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock content %}