{% extends 'base.html' %}

{% block title %}
<div class="container">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">О товаре</h1>
            <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
        </div>
    </header>
</div>
{% endblock title %}
{% load catalog_tags %}
{% block content %}
<main class="row overflow-auto">
    <div class="row">
        <div class="card-group">
            <div class="card rounded-3 shadow-sm m-1 col">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <h2 class="card-title pricing-card-title">{{ object.price }}</h2>
                    {% if object.image %}
                    <img class="card-img-left img-thumbnail" src="{{ object.image|add_media }}">
                    {% endif %}<p>
                        {{ object.description }}
                    </p>
                </div>
                <div class="card-footer">
                    <button type="button" class="w-100 btn btn-lg btn-primary">Купить</button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}